@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
  /*
  font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  */
  font-family: 'Titillium Web', sans-serif;
}
.navbar{
  margin-bottom:1.8rem;
}
.navbar-brand img{
  border-radius:50%;
  height:48px;
  margin-right:0.5rem;
}
#self-portrait{
  margin-top:-8rem;
  display:flex;
  justify-content: center;
  margin-bottom:2rem;
  
}
#self-portrait img{
  max-width:220px;
  min-width:128px;
}
.is-rounded{
  border-radius:50%;
}
.big-icon{
  font-size: 6rem;
  margin-left: -3rem;
  position: absolute;
}
.margin-for-icon{
  margin-top: 6.2rem;
  margin-bottom:0.5rem;
  padding: 0rem 3rem 4rem 3rem;
}
.box{
  padding:2.25rem 1.25rem 4rem 1.25rem;
}
.x3{
  font-size:3rem;
}
.blue-link,
#contact-info a:hover{
  text-decoration:underline;
}
.divider{
  margin:0rem 0.33rem 0rem 0.33rem;
}
#main-title{
  margin-bottom:0.5rem;
}
#social-links{padding-bottom:1em;}
#social-links a{
  margin:0.33em;
}
.is-primary{color:white;}
.is-primary,
.button.is-primary,
.hero.is-primary,
.button.is-primary.is-inverted.is-outlined:hover,
.button.is-primary.is-hovered, .button.is-primary:hover{
    background-color:#293d5e;
}
.svg-fill{
    fill:#293d5e;
}
.primary-color,.navbar a:hover,.has-text-primary{
    color:#293d5e!important;
}
a.has-text-primary:focus, a.has-text-primary:hover{
    color:#293d5e!important;
    text-decoration:underline;
}
.is-primary .title,
.is-primary .subtitle,
.blue-link,
.blue-link:hover,
#contact-info,
#contact-info a{
    color:white;
}
.button.is-primary.is-hovered, .button.is-primary:hover{
    color:white!important;
}
.button.is-primary.is-inverted.is-outlined:hover{
    text-decoration:none!important;
}
.is-primary h2{
  color:white!important;
}
.footer{
  position:fixed;
  bottom:0;
  text-align:center;
  justify-content:center;
  width:100%;
  padding:0.5rem!important;
  border-top:1px solid grey;
}
@media screen and (min-width: 1024px){
  .section.is-medium {
      padding: 5rem 1.5rem;
  }
}